@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

body {
  background-color: #363636;
}

.font  {
  /* font-family: 'Luckiest Guy', cursive; */
   font-family: 'Righteous', cursive; 
}

h1 {
  font-family: 'Righteous', cursive;
}


